# Halium common
CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y

# Force cmdline
CONFIG_CMDLINE_EXTEND=y

# Serial gadget
CONFIG_USB_G_SERIAL=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_U_SERIAL=y

# cmdline
CONFIG_CMDLINE="console=ttyGS0,115200 systempart=/dev/mapper/system"
